body{
    margin: 0;
    padding: 0;
    overflow: hidden;

    /*min-height: 100%;*/
    /*grid-template-rows: 1fr auto;*/
}

.header {
    height: 70px;
    width: 100%;
    display: table;
    text-align: center;
    font-size: 18px;
    color: #2E6E9E;
    background: #A6C9E2;
}

.footer {
    height: 70px;
    width: 100%;
    font-size: 18px;
    display: table;
    color: #2E6E9E;
    background: none repeat scroll 0 0 #A6C9E2;
    position: absolute;
    bottom: 0;
}
.footer div {
    width: 100%;
    text-align: center;
}

.footer a {
    display:table-cell;
    vertical-align:middle;
}

.header a {
    display:table-cell;
    vertical-align:middle;
}
.scrollable-panel {
    height: calc(100vh - 140px);
    width: 100%;
    margin: 0;
    overflow: auto;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

h2, h3 {
    margin: 10px 5px;
}

li {
    margin: 5px 0;
}

ul {
    margin: 8px 5px;
}