.view-wrapper {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    color: #4682B4;
    height: 100%;
    min-width: 610px;
    width: 50%;
    margin: 0 0 0 25%;
    display: block;
}

.full-name {
    font-size: 32px;
    line-height: 44px;
    margin-top: 40px;
    color: #4682B4;
}
.separate-line {
    width: 100%;
    min-width: calc(100% + 50px);
    height: 2px;
    margin: 43px 0 43px 0;
    background: #e0e4ea;
    border-radius: 10px;
}

.contacts {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-top: 21px;
}

.section {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 40px 0 24px 0;
}

.position {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 24px 0 24px 0;
}

.list {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}

.section-wrapper {
    margin-bottom: 35px;
}

.company-name {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin: 35px 0 0 207px;
    text-decoration: none;
}

.web-site {
    color: #169fe1;
    text-decoration: none;
}

.period-position {
    display: flex;
    margin-top: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.period {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    min-width: 207px;
}

.position {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.position-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0 0 207px;
    width: 100%;
}

.button-OK {
    width: 40px;
    margin: 10px 0 15px 0;
    display: inline-flex;
}

button {
    color:white;
    background: #87CEEB;
    font-weight: 700;
    border: 2px solid;
    height: 30px;
}